# Numbers

### 1. Print min and max number

In [1]:
print("Minimum _Number:",min(34,7,98,56,2,63))
print("Maximum _Number:",max(34,7,98,56,2,63))

Minimum _Number: 2
Maximum _Number: 98

In [2]:
l = ["ab", "abc", "bc", "c"]
 
print(max(l, key = len))
print(min(l, key = len))

#initially l = [“ab”, “abc”, “bc”, “c”] 
#when we passed key=len as arguments then it works like 
#l=[2,3,2,1]

abc
c

In [3]:
l = [{'name':'ramu', 'score':90, 'age':24},
     {'name':'golu', 'score':70, 'age':19}]
print(max(l, key = lambda item:item.get('age')))

{'name': 'ramu', 'score': 90, 'age': 24}

### 2. Print Length, Minimum, Maximum number of a list

In [4]:
List = [12, 23, 34, 78, 65, 98, 49, 51] 
print(len(List)) 
print(min(List))
print(max(List))

8
12
98

### 3. Using Counter() function to find duplicates

In [5]:
from collections import Counter
l1 = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(l1)
print(d)

new_list = list([item for item in d if d[item]>1])
print(new_list)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})
[1, 2, 5, 9]

### 4. Using in, not in operators and count() method to remove duplicates

In [7]:
l2 = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
x = []
y = []
for i in l2:
    if i not in x:
        x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 5. Using list comprehension method to remove duplicates

In [8]:
def duplicate(input_list):
    return list(set([x for x in input_list if input_list.count(x) > 1]))

if __name__ == '__main__':
    input_list = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
    print(duplicate(input_list))

[1, 2, 5, 9]

### 6. Print unique elements using nympy

In [12]:
import numpy as np
Alist=['Mon', 40, 34, 'Tue', 40, 76, 93, 'Fri', 'Tue', 34, 93]
print(np.unique(Alist))

['34' '40' '76' '93' 'Fri' 'Mon' 'Tue']

### 7. Print unique elements using set() function

In [13]:
#List to Set
Alist=['Mon', 40, 34, 'Tue', 40, 76, 93, 'Fri', 'Tue', 34, 93]
Blist=set(Alist)
print(Blist)

{34, 'Fri', 40, 76, 'Tue', 'Mon', 93}

# Strings

### 1. Print length of a string 
### Print Minimum, Maximum element in a string

In [19]:
str="HopeAI is a virtual training institute"
print("Length of a string:", len(str))
string="machinelearning"
print("Minimum element:", min(string))
print("Maximum element:", max(string))

Length of a string: 38
Minimum element: a
Maximum element: r

### Print length of a string without using len function

In [9]:
a= "Natural Language Processing"
count=0
for i in a: count+=1
print(count)

27

### 2. Remove Duplicates in a String

In [20]:
input_str = input("Enter a Word ")
output_str = ""
char_dict = {}
for char in input_str:
    if char not in char_dict:
        output_str += char
        char_dict[char] = True
print("String with duplicates removed:", output_str)

Enter a Word Machine Learning
String with duplicates removed: Machine Lrg

### 3. To count vowels and consonants in a string

In [17]:
n = input("Enter a Word ")
vow, con = 0, 0
for i in range(len(n)):
    if n[i] in ['a','e','i','o','u']:vow +=1
    else:con +=1
print("Total vowels:", vow)
print("Total conconants:", con)

Enter a Word Machine Learning
Total vowels: 6
Total conconants: 10

### 4. To count occurrences of all characters within a string

In [21]:
input_str = input("Enter a Word ")
char_dict = {char: input_str.count(char) for char in set(input_str)}
print("Character count:", char_dict)

Enter a Word Machine Learning
Character count: {'g': 1, ' ': 1, 'M': 1, 'n': 3, 'a': 2, 'i': 2, 'e': 2, 'L': 1, 'r': 1, 'h': 1, 'c': 1}

### 5. To search a specific word in a string

In [23]:
input_str = input("Enter a Word ")
search_word= input("Enter a Word ")
if search_word in input_str:print(f"'{search_word}' found in the string.")
else:print(f"'{search_word}' not found in the string.")

Enter a Word HopeAI is a Virtual Training Institute
Enter a Word virtual
'virtual' not found in the string.

### 6. Find the last position of a given substring

In [24]:
str1 = "John is a data scientist who knows Python. John works at google."
index = str1.rfind("John")
print(index)

43

### 7. Remove special symbols / punctuation from a string

In [25]:
# Method 1: Using translate() and maketrans()

import string
str1 = "/*John is @developer & musician"
print("Original string is ", str1)
new_str = str1.translate(str.maketrans('', '', string.punctuation))
print("New string is ", new_str)

Original string is  /*John is @developer & musician
New string is  John is developer  musician

In [26]:
# Method 2: Using regex

import re
str1 = "/*John is @developer & musician"
print("Original string is ", str1)
# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str1)
print("New string is ", res)

Original string is  /*John is @developer & musician
New string is  John is developer  musician

### 8. Removal all characters from a string except integers

In [27]:
str1 = 'I am 25 years and 10 months old'
print("Original string: ", str1)
# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])
print(res)

Original string is I am 25 years and 10 months old
2510